body {
    font-family: "Larsseit", sans-serif;
    width: 100vw;    
    height: 100vh;
}

.header-container {
    display:flex;   
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    
    padding-top: 15px;
    
    height: 10vh;
    background: #F4F9E2;
}

nav {    
    font-size: 14px;
    line-height: 16px;
}

a.nav-link {
    margin-right: 15px;
    text-decoration: none;    
    color: #22356F;
}

.nav-link:hover {
    color:darkorchid;
}

.nav-link:first-child {    
    padding-bottom: 5px;
    box-shadow: inset 0px -1px 0px #22356F;    
}

.button-contacts {
    width: 145px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

    background: #62D0DF;
    border-radius: 50px;
    border: none;    
}
/*--------------------------------------------Main-------------------------------------*/

/*-------------------------------------1page-------------------------*/

.container-firstpage {
    display:flex;
    flex-flow: row nowrap;   
    justify-content:space-around; /*почему-то оно не работает*/
    
    background: #F4F9E2;

    background-image: url(/ITGirlsHomework/Lifecode1/assets/images/foto2.png); /*как эту голубую картинку расположить с заплывом на хедер не поняла; десь картинка добавлена как бэкграунд картинка, но периодически она не подгружтвается*/
    background-repeat: no-repeat;
    background-position:right;
    background-position-y: top;    
}

.content-firstpage {
    margin-left: 140px;
    padding-top: 170px;   
}

.main-header {
    padding: 0;
    margin: 20px 0px 20px;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.035em;
    color: #22356F;
} 

.paragraph-firstpage {
    margin-bottom: 63px;
    
    font-size: 24px;
    line-height: 42px;
    color: #22356F;
}

button.whoiam,
button.whodoido{
    width: 150px;
    height: 50px;

    align-items: center;
    letter-spacing: 0.1em;

    border: none;  
}

button.whoiam {
    color: #FFFFFF;
    background: #F9B640;
}

button.whodoido {
    color: #FAB63E;
    background-color: #F4F9E2;
}

.img-firstpage {
    position: relative;
    top: -60px; /*если больше в минус, то перекрывает кнопку "contacts", как по-другому спозиционировать не знаю*/
}

/*-------------------------------------2page-------------------------*/

.container-secondpage {
    display:flex;
    align-items: center;
    
    height:max-content;
    color: #FFFFFF;
    background-color: #62D0DF;
    background-image: url(/ITGirlsHomework/Lifecode1/assets/images/foto3.jpg); /*здесь картинка с девушкой добавлена как бэкграунд картинка, но периодически она не подгружтвается; добалвение через img в html  приводила к кривому расположению*/
    background-repeat: no-repeat;
    background-position: right;
}

.content-secondpage {
    margin-left: 140px;
    width: 45%;    
}

.header-secondpage {
    padding-top: 100px;  
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 27px;
    letter-spacing: -0.006em;
} 

.paragraph-secondpage {    
    padding-bottom: 50px;
    font-size: 24px;       /*не поняла как сделать часть текста внутри параграфа менее жирной, пробовала отдельно через span, не получилось*/
    line-height: 35px;    
}

/*-------------------------------------3page-------------------------*/

.container-thirdpage {
    display:flex;
    flex-direction: column;

    justify-content: space-around;
    padding-top: 70px;
    
    color: #22356F;
}

.content-thirdpage-first {
    display:flex;
    flex-direction: row;
    justify-content:space-around;   
    
    padding-bottom: 121px;
}

.header-thirdpage-one {    
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.06em; 
}

.paragraph-thirdpage {
    flex-basis: 35%;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.005em;
}

.header-thirdpage-two {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.06em;

    color: rgba(34, 53, 111, 0.5);
}

.container-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    color: #FFFFFF;
}

.option {
    display: flex;   
    justify-content: center;
    align-items:center;

    width: 25%;
    height: 30vh;    
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
}

#option-one {
    background: #FFE2DE;    
}

#option-two {
    background: #C4E769;;
}

#option-three {
    background: #62D0DF;
}

#option-four {
    background: #0052C1;
}